@charset 'utf-8';

/*ロゴ*/
#ori_logo{
    position: absolute;
}
#ori_logo img{
    position: relative;
    top: 13px;
    left: 13px;
    z-index: 100;
    height: 50px;
}
/*ショッピングカート テキスト*/
.syop_text{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
}
/*ボタン*/
#cart_but{
    margin: 90px 0 100px;
    display: flex;
    justify-content: center;
    text-align: center;
}
button{
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 600;

    width: 200px;
    border: none;
    padding: 14px 0;
    border-radius: 4px;
}
button a{
    text-decoration: none;
}

/* 購入ボタンのスタイル */
.buy {
    border: 2px solid #333;  /* 外枠ボーダー */
    background-color: #333;
    color: #fff; /* ボタンの文字色を指定 */
}
.buy a {
    color: #fff; /* ボタン内のリンクの文字色も変更 */
}
.buy:hover{
    border: 2px solid #5f5f5f;  /* 外枠ボーダー */
    background-color: #5f5f5f;
}

/*トップに戻るボタン*/
.top {
    border: 2px solid #333;  /* 外枠ボーダー */
    background-color: #f1f1f1;
}
.top a {
    color: #333; /* ボタン内のリンクの文字色も変更 */
}
.top:hover
{
    background-color: #e6e6e6;
}

/*現在カートに商品はありません。*/
.no_cart{
    text-align: center;
}

#cart_box{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    padding: 15px 10px;
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
    box-sizing: border-box;
}

/*マグカップの画像*/
#merchandise_img{
    display: block;
}
#merchandise_img img{
    width: 200px;
    border: 1px solid #dadada;
    box-sizing: border-box;
    padding: 15px;
}
#merchandise_cont{
    display: flex;
    flex-direction: column;
}
#merchandise_cont p {
    display: flex;
    align-items: center; /* 各項目を垂直方向に中央揃え */
    margin: 5px 0; /* 各行の間に少しスペースを作る */
}
/*商品名、色、値段の幅*/
.left{
    display: flex;
    min-width: 70px;
}
/*数量の選択*/
input{
    padding: 5px 10px;
    box-sizing: border-box;
    width: 100px;
}
/*値段のサイズ*/
#merchandise_price{
    font-size: 1.35rem;
}
/*合計料金*/
#price_cont{
    text-align: right;
    width: 70%;
    margin: 0 auto;
}
/*消費税*/
#syouhizei{
    margin-top: 10px;
}
/*狭いブラウザとタブレット*/
@media (max-width: 832px) and (min-width: 521px) {
    #cart_box{
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    
        padding: 15px 10px;
        border-top: 1px solid #cacaca;
        border-bottom: 1px solid #cacaca;
        box-sizing: border-box;
    }   
}

/*スマホ*/
@media (max-width: 520px){
    #ori_logo img{
        height: 35px;
    }
    #cart_box{
        width: 100%;
        flex-direction: column;
    }    
    #merchandise_img,#merchandise_cont,#number_cont{
        width: 80%;
        margin: 0 auto;
    }
    #merchandise_img img{
        width: 100%;
    }
    button{
        width: 110px;
        font-size: 0.55rem;
        padding: 10px 0;
    }
    /*ボタン*/
    #cart_but{
        margin: 20px 0 100px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
}