@charset 'utf-8';

/*デザイン例*/
#about {
    background-image: url(../img/about_stripe.jpg); /* 背景画像を設定 */
    position: relative; /* 相対位置を指定 */
    background-size: 100%;
}

.mug_design_img{
    text-align: center;
}

/*デザイン例の画像*/
.design_cont img{
    height: 220px;
    filter: drop-shadow(2px 4px 5px rgba(180, 180, 180, 0.7));
}
.design_cont{
    width: 73%;
    margin: 0 auto;
    background: #fff;
    border: 3px solid #6bcd4c;
    border-radius: 13px;
    padding: 3%;
    margin-bottom: 25px;
    box-shadow: 0 0 0 4px #fff; /* 白い縁取り */
    /*box-shadow: -2px 0 7px rgba(180, 180, 180, 0.4);*/
}
/*種類・料金のテキスト*/
.cup_name{
    text-align: center;
}
.cup_name span{
    margin-left: 15px;
    font-size: 1.5rem;
}
/*狭いブラウザとタブレット*/
@media (max-width: 832px) and (min-width: 521px) {
    .design_cont img{
        height: 100px;
        width: auto;
    }
    
}
/*スマホ*/
@media (max-width: 520px){
/*デザイン例の画像*/
.design_cont{
    width: 90%;
    box-sizing: border-box;
}
.mug_design_img {
    text-align: center;
    display: flex
;
    flex-wrap: wrap;
    justify-content: center;
}
.design_cont img{
    height: 130px;
    width: auto;
}

}
